* {
    box-sizing: border-box;
}

body,
html {
    background: #000000;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

header {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    justify-content: center;
    z-index: 100;
    background: #fff;
    margin-top: -1em;
    padding-top: 0.7em;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li:first-child {
    margin-right: auto;
}

ul li {
    padding: 2rem 5rem;
    text-decoration: none;
    list-style-type: none;
}

ul li a {
    color: orange;
}

ul li a:hover {
    color: black;
    text-decoration: underline;
}

ul li a img {
    width: 3em;
}

a {
    text-decoration: none;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

article {
    width: 360px;
    height: 400px;
    padding: 1em;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.3s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


/*Bron die helpt bij hoveren van images: https://www.youtube.com/watch?v=_BFn4yUxBpM&feature=youtu.be*/

article:hover {
    transform: scale(1.08);
    z-index: 10;
}

article:hover:before {
    opacity: 1;
}

article:hover section {
    opacity: 1;
    transform: translateY(0);
}

article:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, orange, transparent);
    z-index: 2;
    transition: 0.3s;
    opacity: 0;
}


/*Bron voor croppen van images: https://alligator.io/css/cropping-images-object-fit/*/

article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a article section {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    opacity: 0;
    color: white;
    transform: translateY(4em);
    transition: 0.2s;
}

h2 {
    margin-bottom: -0.3em;
}

footer {
    display: flex;
    box-shadow: 0 -5px -5px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    justify-content: center;
    z-index: 100;
    background: #000;
    margin-top: 1em;
    padding: 1em;
    color: orange;
}

main section {
    display: flex;
    align-items: flex-start;
}

h1 {
    color: white;
    margin: 1em;
}

@media (max-width: 50em) {
    ul li {
        padding: 2rem 1rem;
    }
}